<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <!-- check user login or not -->
        <% if session[:user_id] == user.id %>
        <td><%= link_to 'Show', user %></td>
        <td>
          <!-- only show this if user is loginned  -->
          <%= link_to 'Edit', edit_user_path(user) %>

        </td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <!-- end login -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if session[:user_id] == nil %>
<%= link_to 'Sign up', new_user_path %>
<% end %>
<% if session[:user_id] != nil %>
<a href="/session/destroy">Log out</a>
<% end %>

<% if session[:user_id] != nil %>
<a href="/projects/">Show Projects List</a>
<% end %>

<% if session[:user_id] != nil %>
<a href="/contents/">Show Contents List</a>
<% end %>
